.page{
	height: 210;
	width: 297;
	padding: 20px;
}

.column{
	float: left;
	width: 50%;
	height: 100%;
}

#column1{
	padding-right: 2.5;
}

#column2{
	padding-left: 2.5;
}
 
h1{
	font: miso-regular.ttf;
	font-size: 12;
	color: #000;
	background-color: #BBB;
}

p{
	font-size: 3;
	line-height: 6;
	background-color: #efefef;
	margin-bottom: 1px;
}

.page{
	float: left;
	margin-right: 10px;
}

.index h1{
	margin-bottom: 5;
	margin-left: -15;
	font-size: 7;
}

#footer{
	height: 5;
	margin-left: -20;
}

#footer p{
	height: 5;
}